body{
	margin: 0 auto;
	background-color: #ccc;
	width:100%;
}
.leftPane select,.rightPane select{
	width: 75%;
	min-height: 150px;
	height:auto;
}
.centrePane .btn{
	display: block;
	margin: 20px;
}
.nav>li>a{
	cursor: pointer;
	padding: 10px 20px;
	margin-right: 15px;
}
.centrePicklist {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}